.apropos-container1 {
  background: url("../propos.jpg") no-repeat center fixed;
  background-size : cover;
  width:100%;
  height:30%;
  max-height:300px;
    position:relative;
}

.part1-propos{
    position:relative;
    width:100%;
    max-width: 1220px;
    height:100%;
    margin:0 auto;
}

.part1-text{
    position:relative;
    width: 50%;
    max-width: 600px;
    background-color:rgba(0,0,0,0.5);
    margin:0 auto;
    height: 50%;
    top:120px;
    float:left;
    overflow:auto;
    text-align: center;
    font-size:26px;
    color: white;

}

.apropos-container2 {
    width:100%;
    height:45%;
    max-height:400px;
    position:relative;
}

.apropos-container2 table{
    position:relative;
    width:100%;
    max-width: 1220px;
    height:100%;
    margin:0 auto;
    text-align: left;
    border-spacing: 20px;
    border-collapse: separate;

}

#apropos-droite{
    width:50%;

}

#apropos-gauche{
    width:50%;
    border-right: 2px solid lightgrey;

}

#apropos-top{
    top: 0;
    height:50%;

}


.apropos-container2 table h2{
    margin:0;
}

.apropos-container2 table h2 i{
    font-size: larger;vertical-align: middle;
}
#apropos-bot{
    height: 50%;

}

.button {
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
