
body {
    font-family: 'Oswald', sans-serif;
    background-color: lightblue;
}

.inner-col-footer {
    padding: 10px;
}

.container {
    padding-top: 10px;
}

.container a {
    text-decoration: none;
    color: #D0D0D0;
}

.container a:hover {
    color: #0b2e13;
}

.footer {
    font-family: 'Catamaran', sans-serif;
    color: #808080;
    background-color: #212121;
}

.footer a {
    text-decoration: none;
    color: #D0D0D0;
}

.footer a:hover {
    color: #175F07;
}

.footer .footer-foot {
    font-size: 12px;
    color: #606060;
}

.footer .footer-foot a {
    text-decoration: none;
}

.footer .footer-foot a:hover {
    color: #175F07;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #175F07;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #175F07;
}

.header-allpages {
    padding-top: 10px;
    background-color: #C1E1A6;
    border-top: 2px solid #175F07;
}

@media all and (max-width: 991px) {
    .logo-header-nav {
        display: none;
    }
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.center-navbar {

}