
.section-titre {
    padding : 20px;
    text-align : center;
    font-size: 35px;;
}


.textPart {
    display : -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.textLeftPart {
    max-width: 610px;
}

.textRightPart {
    text-align:left;
    float: right;
    max-width: 610px;

}

.contact-table {
    border-spacing: 0;
}

.contact-table td{
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px 20px;
}

@media only screen and(max-width: 480px) {
    .textPart {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .textLeftPart{
        max-width: 480px;
    }
    .textRightPart{
        max-width: 480px;
    }
}

@media only screen and(max-width: 1220px) {
    .textPart {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .textLeftPart{
        max-width: 800px;
    }
    .textRightPart{
        max-width: 800px;
    }

}