.container {
    max-width: 960px;
}

/* The headers for the html pages */

#headerTest{
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/AdobeStock_182056831.jpeg") fixed;
    background-size:cover;
}

#headerHumidité {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/AdobeStock_171231956.jpeg") fixed;
    background-size:cover;
}

#headerThermographie {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/AdobeStock_42607004.jpeg") fixed;
    background-size:cover;
}

#headerDecontaminationVermiculite {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/demo-construct-decontamination-slider.jpg") fixed;
    background-size:cover;
}

#headerDecontaminationMoisissures {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/demo-construct-decontamination-slider.jpg") fixed;
    background-size:cover;
}

#headerIsolationEntretoit {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/AdobeStock_182056831.jpeg") fixed;
    background-size:cover;
}

#headerTypesIsolation {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/AdobeStock_171231956.jpeg") fixed;
    background-size:cover;
}

#headerToitureCouvreur {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/photo_couvreur_toit.jpg") fixed;
    background-size:cover;
}

#headerToitureRefection {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/senior happy couple.jpg") fixed;
    background-size:cover;
}

#headerChauffageetClimatisation {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/murale4.jpg") fixed;
    background-size:cover;
}

#headerIsolationProfessionnelle {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("images/murale4.jpg") fixed;
    background-size:cover;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden { overflow: hidden; }
